[submodule "nvim/.config/nvim/pack/minpac/opt/minpac"]
	path = nvim/.config/nvim/pack/minpac/opt/minpac
	url = git@github.com:k-takata/minpac.git
[submodule "zsh/.local/share/zsh/pure"]
	path = zsh/.local/share/zsh/pure
	url = git@github.com:sindresorhus/pure.git
