[submodule "zsh/.local/share/zsh/fast-syntax-highlighting"]
	path = zsh/.local/share/zsh/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "/home/axel/.dots/zsh/.local/share/zsh/powerlevel10k"]
	path = zsh/.local/share/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
