[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/axel/.gnupg]
row=5
col=1

[/home/axel/.gitconfig]
row=3
col=2

[/home/axel/docs]
row=4
col=0

[/home/axel/dots]
row=2
col=1

[/home/axel/js]
row=8
col=0

[/home/axel/.pki]
row=3
col=1

[/home/axel/mov]
row=7
col=0

[/home/axel/dl]
row=5
col=0

[/home/axel/.cache]
row=6
col=1

[/home/axel/.npm]
row=2
col=2

[/home/axel/music]
row=1
col=1

[/home/axel/utt]
row=0
col=1

[/home/axel/pics]
row=6
col=0

[/home/axel/.zshenv]
row=7
col=1

[/home/axel/.local]
row=8
col=1

[/home/axel/.config]
row=1
col=2

[/home/axel/.ssh]
row=0
col=2

[/home/axel/.mozilla]
row=4
col=1

[davs://axelcalixte@cloud.disroot.org/remote.php/webdav/]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/axel]
row=3
col=0

